

.navigationsection{
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 1% 1%;
    height: 55px;
    display: flex;
    background: rgba(0, 0, 0, 0.55);
    background: rgba(0, 0, 0, 0.55);

    /* Glass blur */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    /* Soft shadow */
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.08);

    border-radius: 5px;
    z-index: 100;
    position: sticky;
    top: 10px;
}

.navigationsectionlogo{
    /* border: 2px solid green; */
    width: 15%;
    color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    background: transparent;
    h2{
        background: transparent;
    }
}

.navlogo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}


.navigationsectionnav{
    /* border: 2px solid navy; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.1em;
    a{
        font-family: "Share Tech Mono", monospace;
        color: white;
        background: transparent;
        text-decoration: none;
        position: relative;
        display: inline-block;
    }
    
}
a:hover{
    color: cyan;
    
}
a:hover::after{
    transform: scaleX(1);
}
a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: cyan;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navigationsectiondashboard{
    /* border: 2px solid cyan; */
    background: transparent;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        color: white;
    }
}


