.heroSection{
    /* border: 2px solid white; */
    width: 100%;
    height: 120vh;
    background: radial-gradient(circle at top center, #181b2d 0%, #090a0f 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroSectionadvertisement{
    display: inline-flex;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #22232a;
    padding: 8px 16px;
    /* width: 35%; */
    border-radius: 999px;
    margin-top: 2%;
    p{
        color: white;
        font-family: "Share Tech Mono", monospace;
    }
}

.livedot {
  width: 10px;
  height: 10px;
  background-color: #00ff9d; /* Cyan-green color */
  border-radius: 50%;
  animation: pulse-ring 2s infinite;
}

/* Creates the expanding glow effect */
@keyframes pulse-ring {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 157, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(0, 255, 157, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 157, 0);
  }
}

.heroSectionheader{
    /* border: 2px solid cyan; */
    display: inline-block;
   
    margin-top: 2%;
    width: 65%;
    text-align: center;
    h1{
        font-size: 60px;
        font-weight: 700;
        color: white;
        font-family: "Share Tech Mono", monospace;
        word-spacing: -5px;
    }
    p{
        margin: 1%;
        font-size: 20px;
        color: white;
    }
}


.heroSectiontimmer{
    margin-top: 2%;
    border: 2px solid cyan;
    background-color: #15141A;
    border-radius: 10px;
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.heroSectiontimmercountdown{
    border: 2px solid white;
    width: 20%;
    height: 70%;
}


.heroSectionbuttons{
    margin-top: 2%;
    /* border: 2px solid white; */
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hackerbtn{
    background: linear-gradient(90deg, #00f3ff 0%, #00ff87 100%);
    border: none;
    border-radius: 3px;
    padding: 2% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.hackerbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.heroSectionnumbers{
    /* border: 2px solid white; */
    width: 85%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}







